[submodule "themes/phugo"]
	path = themes/phugo
	url = https://github.com/aerohub/phugo
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
