asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.7.0.1
bernhard==0.2.6
bottle==0.12.17
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cli-helpers==1.2.1
Click==7.0
colorama==0.4.1
configobj==5.0.6
CouchDB==1.2
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
Django==2.2.5
docker==4.0.2
docker-pycreds==0.4.0
elasticsearch==7.0.4
enum34==1.1.6
exif==0.8.1
ExifRead==2.1.2
future==0.17.1
futures==3.1.1
Glances==3.1.2
idna==2.8
ifaddr==0.1.6
image==1.5.27
influxdb==5.2.3
ipaddress==1.0.22
IPTCInfo3==2.1.4
kafka-python==1.4.6
kaptan==0.5.12
kiwisolver==1.1.0
libtmux==0.8.2
matplotlib==3.1.1
mycli==1.20.1
netifaces==0.10.9
numpy==1.17.1
nvidia-ml-py==375.53.1
pbkdf2==1.3
piexif==1.1.3
pika==1.1.0
Pillow==6.1.0
ply==3.11
potsdb==1.0.3
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
py-cpuinfo==5.0.0
pyasn1==0.4.6
pycparser==2.19
pycryptodomex==3.8.2
pyexiv2==1.2.3
Pygments==2.4.2
pymdstat==0.4.2
PyMySQL==0.9.3
pyparsing==2.4.2
pysmi==0.3.4
pysnmp==4.4.11
pystache==0.5.4
pyte==0.8.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
scandir==1.10.0
six==1.12.0
sqlparse==0.3.0
statsd==3.3.0
subprocess32==3.5.4
tabulate==0.8.3
terminaltables==3.1.0
thefuck==3.29
tmuxp==1.5.3
urllib3==1.25.3
wcwidth==0.1.7
websocket-client==0.56.0
wifi==0.3.8
zeroconf==0.23.0
